<div>
    <h1>Lista de todos los articulos</h1>
        <div>
             {{#each productos}}
            <p> 
              id: {{./this._id}},
              title: {{./this.title}}, 
              description: {{./this.description}},
              code: {{./this.code}},
              price: {{./this.price}},
              status: {{./this.status}},
              stock: {{./this.stock}},
              category: {{./this.category}}
            </p>
            {{/each}}
        </div>
</div>

