<div>
    <h1>Primer Carrito</h1>

            {{#each productos.producto}}
            <p> 
              id: {{./this.product_id}},
              title: {{./this.title}}, 
              description: {{./this.description}},
              code: {{./this.code}},
              price: {{./this.price}},
              status: {{./this.status}},
              stock: {{./this.stock}},
              category: {{./this.category}},
              quantity: {{./this.quantity }}
              subtotal:{{./this.total}},
            </p>
            {{/each}}
        </div>

    <p>Total:{{productos.GranTotal}}</p>
</div>

